*{
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 100;   
}
p{
    color:#9e9494;
    font-size: medium;
    font-weight: 400;
}
h2{
    font-weight: 600;
}
.identityPersonBox{
    padding-top: 5px;
    padding-bottom: 20px;
}
.header{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.navigation{
    margin-top: 3px;
}
ul{
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    list-style: none;
}
li{
    padding: 5px 20px 5px 0px;
}
li a{
    text-decoration: none;
    color: rgb(150, 143, 143);
    font-weight: 400;
    font-size: small;
}
#Sub_but{
    padding: 0;
    border-radius: 5px;
}
.btn{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}
.newsHighlight{
    display: grid;
    grid-template-columns: 0.125fr 1fr;
    grid-template-rows: 100px 55px 55px;
    column-gap: 20px;
    row-gap: 2px;
    margin-bottom: 20px;
}
.Social_Media_Img{
    grid-area: 1/1/4/2;
}
.weeklyHeader{
    font-size: 35px;
    font-weight: 700;
}
.weeklyNews p{
    font-size: 15px;
    padding-top: 5px;
    margin-bottom: 0;
}
.identityPerson img{
    float: left;
    height: 50px;
    padding-right: 10px;
}
.identityPerson h3{
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 0px;
}
.product_Cards{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px ;
}
.card{
    width: 300px;
    border: 0px;
}
.card_img{
    width: 300px;
}
.UnifeedFooter{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

@media (max-width: 991px){
    .newsHighlight{
        grid-template-columns: 1fr;
    }
    .product_Cards{
        display: block;
    }
    .card{
        width: 100%;
        display: block;
    }
    .card_img{
        width: 100%;
        margin: 10px 0;
    }
    .Social_Media_Img > img{
        width: 100%;
    }
}